*
  margin 0
  padding 0
  box-sizing border-box

@require 'utils/*.styl'

html
  background $palette-7

body
  position absolute
  width 100%
  height 100%
  display flex
  justify-content center
  align-items center
  overflow hidden

.mobile-buttons
  display none

@media screen and (max-width: 26rem)
  .mobile-buttons
    display grid
    margin-top 0.5rem
    grid-template-columns 15% 20% 15% 10% 20% 20%
    grid-template-rows 1rem 1rem 1rem 1rem 1rem 1rem 
    div.button
      min-height 1.5rem
      user-select none
      outline none
      cursor pointer
      -webkit-tap-highlight-color transparent
      border solid $palette-6 1px
      background $palette-7
      color $palette-4
      &.on
        background $palette-6
        color $palette-7
      margin 2px
      display flex
      justify-content center
      align-items center
      font-size $font-xlarge
      &.left, &.right
        grid-row 1/7
      &.up, &.down
        span
          transform rotate(-90deg)
      &.up
        grid-row 1/4
      &.down
        grid-row 4/7
      &.a, &.b
        grid-row 1/5
      &.left
        grid-column 1/1
      &.right
        grid-column 3/3
      &.a, &.select
        grid-column 5/5
      &.b, &.start
        grid-column 6/6
      &.select, &.start
        color $palette-4
        font-size $font-small
        grid-row 5/7
canvas
  display block
  image-rendering -moz-crisp-edges
  image-rendering pixelated

canvas.master
  width 100vw
  height 100vw

button
  display block

.button
  border none
  color $palette-5
  cursor pointer
  outline none
  padding 0 0.75rem
  margin 0
  @extend .VT323
  text-transform uppercase
  font-size $font-large
  &.active
    color $palette-1
  &:hover
    color $palette-0

button.play
  display block
  border solid $palette-6 1px
  height 1.5rem
  background none
  border none
  padding-left 0
  padding-right 0
  &.hide
    display none

input {
  width 100%
  display block
  margin 0.75rem 0
}

ul
  display grid
  list-style none
  min-height 3rem
  grid-template-columns repeat(auto-fill, minmax(3rem, 1fr))
  grid-row-gap 0.5rem
  grid-column-gap 0.5rem

  li

    button
      background-color rgba(0, 0, 0, 0)
      border solid $palette-6 2px
      width 3rem
      padding 0.35rem
      height @width
      cursor pointer
      outline none
      canvas
        width 100%
        opacity 0.25

      &:hover
        border-color $palette-2
        canvas
          opacity 0.5

      &.active
        border-color $palette-0
        canvas
          opacity 1

.stats
  margin-top 0.75rem
  list-style none
  display flex
  text-transform uppercase

  button
    padding-right 1rem

  .fps
    margin-left auto
    color $palette-6
    font-size $font-large
    @extend .VT323

.hide
  display none

.invisible
  visibility hidden
