* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background-0 {
  background-color: #f6d6bd;
}
.background-1 {
  background-color: #c3a38a;
}
.background-2 {
  background-color: #997577;
}
.background-3 {
  background-color: #816271;
}
.background-4 {
  background-color: #4e495f;
}
.background-5 {
  background-color: #20394f;
}
.background-6 {
  background-color: #0f2a3f;
}
.background-7 {
  background-color: #08141e;
}
.border-0 {
  border-color: #f6d6bd;
}
.border-1 {
  border-color: #c3a38a;
}
.border-2 {
  border-color: #997577;
}
.border-3 {
  border-color: #816271;
}
.border-4 {
  border-color: #4e495f;
}
.border-5 {
  border-color: #20394f;
}
.border-6 {
  border-color: #0f2a3f;
}
.border-7 {
  border-color: #08141e;
}
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323 Regular'), local('VT323-Regular'), url("fonts/VT323-latin.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
.VT323,
.button,
.stats .fps {
  font-family: 'VT323', monospace;
}
html {
  background: #08141e;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-buttons {
  display: none;
}
@media screen and (max-width: 26rem) {
  .mobile-buttons {
    display: grid;
    margin-top: 0.5rem;
    grid-template-columns: 15% 20% 15% 10% 20% 20%;
    grid-template-rows: 1rem 1rem 1rem 1rem 1rem 1rem;
  }
  .mobile-buttons div.button {
    min-height: 1.5rem;
    user-select: none;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    border: solid #0f2a3f 1px;
    background: #08141e;
    color: #4e495f;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .mobile-buttons div.button.on {
    background: #0f2a3f;
    color: #08141e;
  }
  .mobile-buttons div.button.left,
  .mobile-buttons div.button.right {
    grid-row: 1/7;
  }
  .mobile-buttons div.button.up span,
  .mobile-buttons div.button.down span {
    transform: rotate(-90deg);
  }
  .mobile-buttons div.button.up {
    grid-row: 1/4;
  }
  .mobile-buttons div.button.down {
    grid-row: 4/7;
  }
  .mobile-buttons div.button.a,
  .mobile-buttons div.button.b {
    grid-row: 1/5;
  }
  .mobile-buttons div.button.left {
    grid-column: 1/1;
  }
  .mobile-buttons div.button.right {
    grid-column: 3/3;
  }
  .mobile-buttons div.button.a,
  .mobile-buttons div.button.select {
    grid-column: 5/5;
  }
  .mobile-buttons div.button.b,
  .mobile-buttons div.button.start {
    grid-column: 6/6;
  }
  .mobile-buttons div.button.select,
  .mobile-buttons div.button.start {
    color: #4e495f;
    font-size: 1rem;
    grid-row: 5/7;
  }
}
canvas {
  display: block;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}
canvas.master {
  width: 100vw;
  height: 100vw;
}
button {
  display: block;
}
.button {
  border: none;
  color: #20394f;
  cursor: pointer;
  outline: none;
  padding: 0 0.75rem;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.button.active {
  color: #c3a38a;
}
.button:hover {
  color: #f6d6bd;
}
button.play {
  display: block;
  border: solid #0f2a3f 1px;
  height: 1.5rem;
  background: none;
  border: none;
  padding-left: 0;
  padding-right: 0;
}
button.play.hide {
  display: none;
}
input {
  width: 100%;
  display: block;
  margin: 0.75rem 0;
}
ul {
  display: flex;
  list-style: none;
  min-height: 3rem;
}
ul li {
  margin-right: 1.5rem;
}
ul li button {
  background-color: rgba(0,0,0,0);
  border: solid #0f2a3f 2px;
  width: 3rem;
  padding: 0.35rem;
  height: 3rem;
  cursor: pointer;
  outline: none;
}
ul li button canvas {
  width: 100%;
  opacity: 0.25;
}
ul li button:hover {
  border-color: #997577;
}
ul li button:hover canvas {
  opacity: 0.5;
}
ul li button.active {
  border-color: #f6d6bd;
}
ul li button.active canvas {
  opacity: 1;
}
.stats {
  margin-top: 0.75rem;
  list-style: none;
  display: flex;
  text-transform: uppercase;
}
.stats button {
  padding-right: 1rem;
}
.stats .fps {
  margin-left: auto;
  color: #0f2a3f;
  font-size: 1.5rem;
}
.hide {
  display: none;
}
.invisible {
  visibility: hidden;
}
