// nyx8
$palette-1 = #f6d6bd
$palette-2 = #c3a38a
$palette-3 = #997577
$palette-4 = #816271
$palette-5 = #4e495f
$palette-6 = #20394f
$palette-7 = #0f2a3f
$palette-8 = #08141e

$terminal-background = $palette-8
$terminal-text = $palette-3
$terminal-text-bold = $palette-1