// nyx8
$palette-0 = #f6d6bd
$palette-1 = #c3a38a
$palette-2 = #997577
$palette-3 = #816271
$palette-4 = #4e495f
$palette-5 = #20394f
$palette-6 = #0f2a3f
$palette-7 = #08141e

$terminal-background = $palette-7
$terminal-text = $palette-2
$terminal-text-bold = $palette-0