$cm-line-selection   = $palette-5
$cm-selected         = $palette-5 // selected
$cm-gutters-subtles  = $palette-6
$cm-active-line      = red
$cm-matching-bracket = red

$cm-background       = $palette-7 // background
$cm-gutters          = $palette-7
$cm-comment          = $palette-4 // comment
$cm-foreground       = $palette-4 // punctuation bits
$cm-cursor           = $palette-5 // cursor
$cm-keyword          = $palette-3 // const

$cm-string           = $palette-3 // string
$cm-number           = $palette-0 // number

$cm-property         = $palette-1 // createPathAnchors
$cm-property-2       = $palette-2 // svgOptions
$cm-object           = $palette-0 // createPathAnchors inside braces

.cm-s-nyx8.CodeMirror
  background $cm-background
  color $cm-foreground

.cm-s-nyx8 div.CodeMirror-selected
  background $cm-selected

.cm-s-nyx8 .CodeMirror-line::selection,
.cm-s-nyx8 .CodeMirror-line > span::selection,
.cm-s-nyx8 .CodeMirror-line > span > span::selection
  background $cm-line-selection

.cm-s-nyx8 .CodeMirror-line::-moz-selection,
.cm-s-nyx8 .CodeMirror-line > span::-moz-selection,
.cm-s-nyx8 .CodeMirror-line > span > span::-moz-selection
  background $cm-line-selection

.cm-s-nyx8 .CodeMirror-gutters
  background $cm-gutters
  border none

.cm-s-nyx8 .CodeMirror-guttermarker
  color $cm-keyword

.cm-s-nyx8 .CodeMirror-guttermarker-subtle
  color $cm-gutters-subtles

.cm-s-nyx8 .CodeMirror-linenumber
  color $cm-gutters-subtles

.cm-s-nyx8 .CodeMirror-cursors
  z-index 0

.cm-s-nyx8 .CodeMirror-cursor
  border-left 0.4em solid $cm-cursor
  z-index 0

.cm-s-nyx8 span.cm-comment
  color $cm-comment

.cm-s-nyx8 span.cm-atom
  color $cm-number

.cm-s-nyx8 span.cm-number
  color $cm-number

.cm-s-nyx8 span.cm-property,
.cm-s-nyx8 span.cm-attribute
  color $cm-property

.cm-s-nyx8 span.cm-keyword
  color $cm-keyword

.cm-s-nyx8 span.cm-string
  color $cm-string

.cm-s-nyx8 span.cm-variable
  color $cm-property

.cm-s-nyx8 span.cm-variable-2
  color $cm-property-2

.cm-s-nyx8 span.cm-def
  color $cm-object

.cm-s-nyx8 span.cm-bracket
  color $cm-foreground

.cm-s-nyx8 span.cm-tag
  color $cm-keyword

.cm-s-nyx8 span.cm-link
  color $cm-number

.cm-s-nyx8 span.cm-error
  background $cm-keyword
  color $cm-cursor

.cm-s-nyx8 .CodeMirror-activeline-background
  background $cm-active-line

.cm-s-nyx8 .CodeMirror-matchingbracket
  text-decoration underline
  color $cm-matching-bracket !important

.cm-s-nyx8 span.cm-searching.cm-overlay
  border-bottom solid $palette-0 2px
