$px = 8px

.Boot
  @extends .VT323
  height 100%

  > div
    height 100%
    display flex
    justify-content center
    align-items center

  span
    position absolute

  .Output
    padding 0
    justify-content center
    iframe
      width 100vmin
      height 100vmin
      max-width 128px*5
      max-height 128px*5
