$px = 8px

.Boot
  @extends .VT323
  height 100%

  > div
    height 100%
    display flex
    justify-content center
    align-items center

  span
    position absolute

  .Output
    padding 0
    iframe
      width 384px
      height @width
      
    @media screen and (max-width: 384px)
      iframe
        width 100vw
        height 100vw
