$px = 8px

.Boot
  @extends .VT323
  color white
  font-size 40px
  text-transform uppercase

  height 100%
  > div
    height 100%
    display flex
    justify-content center
    align-items center

  span
    position absolute
