.Chain

  span.highlight
    background $palette-0

  .main
    grid-template-columns auto 17*1.5rem
    grid-template-rows auto
    grid-row-gap 1.5rem
    grid-column-gap 3rem
    padding 1.5rem
    justify-content start

    @media screen and (max-width: 36rem)
      grid-template-columns auto
      grid-template-rows $font-large auto
      padding 0.35rem
      .settings
        display flex
        .title
          padding-right 1.5rem
          margin-bottom 0
        .TextInput
          margin-bottom 0

    .warning
      color $palette-3
      text-transform uppercase

    .title
      text-transform uppercase
      color $palette-4
      margin-bottom 1.5rem
      height 1.5rem

    table
      border-collapse collapse
      table-layout fixed
      margin-bottom 1.5rem

      td
        text-transform uppercase
        border solid $palette-6 1px
        width 1.5rem
        height 3rem
        padding 0
        text-align center
        position relative
        &.highlight
          background $palette-0
          button
            color $palette-7
        &:not(:first-child)
          &:hover
            border-style double
            border-color $palette-0
        &:first-child
          background none
          color $palette-4
          span
            writing-mode vertical-lr
            text-orientation upright
            text-align center
            justify-self center
            display block
        button
          overflow hidden
          cursor pointer
          @extend .VT323
          font-size $font-large
          border none
          position absolute
          width 1.5rem
          height 3rem
          display block
          top 0
          left -1px
          background none
          color $palette-1
          padding 0
          outline-offset -3px
          &:focus
            z-index 10
          span
            writing-mode vertical-lr
            text-orientation upright
            text-align center
            justify-self center
