.Code

  .main
    grid-template-columns auto calc(128 * 3px + 3rem)
    grid-template-rows auto
    grid-row-gap 2px

    .CodeEditor
      border-right solid $palette-6 2px

    @media screen and (max-width: $max-width)
      grid-template-columns auto
      .CodeEditor
        grid-column 1 / span 2
        border-right none
      .Output
        display none
