.CodeEditor

  .wrapper
    position relative
    height 100%

    .slider
      position absolute
      z-index 10
      top 0
      left 0
      border solid red 1px

    ._editor
      position absolute
      top 0
      left 0
      width 100%
      height 100%

      .CodeMirror
        height 100%
        @extend .VT323
        font-size $font-medium
