.CodeEditor

  #highlighter-box
    position absolute
    border solid $palette-1 2px
    transform translate(-8px, -22px)
    z-index 10
    pointer-events none

  .wrapper
    position relative
    height 100%

    .slider
      position absolute
      z-index 10
      top 0
      left 0
      display block
      transform translateX(-50%)
      width 1.5rem * 7
      &.hide
        display none

    ._editor
      position absolute
      top 0
      left 0
      width 100%
      height 100%

      .CodeMirror
        height 100%
        @extend .VT323
        font-size $font-medium

        .slider-token
          background $palette-0
          color $palette-7

        .highlight
          border-bottom solid 2px $palette-0 
