.Code

  &.tutorial
    .Output
      padding-top 3rem
      align-items start

  .main
    grid-template-columns minmax(auto, 51.5rem) auto
    grid-template-rows auto
    grid-row-gap 2px

    .CodeEditor
      border-right solid $palette-6 2px

//     @media screen and (max-width: 800px)
//       .CodeEditor
//         grid-column 1 / span 2
//         border-right none
//       .Output
//         display none
