.Editor
  height 100%
  display grid
  grid-template-columns 50% 50%
  grid-template-rows $font-large auto
  grid-column-gap 2px
  grid-row-gap 2px
  background $palette-6
  
  .Menu
    grid-column 1 / span 2
    background $palette-7