.Editor
  height 100%
  display grid
  grid-template-columns minmax(auto, 51.5em) auto
  grid-template-rows $font-large auto
  grid-column-gap 2px
  grid-row-gap 2px
  background $palette-6
  
  .Menu
    grid-column 1 / span 2
