.Help

  .main
    padding 1.5rem
    background $palette-7
    @extend .VT323
    font-size $font-large
    color $palette-3

    .second-list > li
      margin-top 1.5rem

    dl
      margin 0 0 0 1.5rem

    dd
      color $palette-4

    ul
      padding-left 1.5rem

      button
        text-decoration underline
        text-transform none
        padding 0

      &.top-list
        padding-left 0rem
        > li
          margin-bottom 1.5rem

      &.lessons li:before
        content '>'
        padding-right 0.5rem
