.Help

  &.two-rows
    grid-template-rows $font-large auto

  .main
    padding 1.5rem
    background $palette-7
    color $palette-2
    @extend .VT323
    font-size $font-large
    color $palette-3

    ul
      padding-left 1.5rem

      button
        text-decoration underline
        padding 0

      &.top-list
        padding-left 0rem
        > li
          margin-bottom 1.5rem
