.Help

  .main
    padding 1.5rem
    background $palette-7
    color $palette-2
    @extend .VT323
    font-size $font-large
    color $palette-3

    ul
      padding-left 1.5rem
      &.how .second-list > li
        margin-top 0.5rem
        margin-bottom 0.5rem

      button
        text-decoration underline
        text-transform none
        padding 0

      &.top-list
        padding-left 0rem
        > li
          margin-bottom 1.5rem

      &.lessons li:before
        content '>'
        padding-right 0.5rem
