.Home

  .main
    padding 1.5rem
    background $palette-7
    color $palette-2
    @extend .VT323
    font-size $font-large

  a
    color $palette-0
    &:hover
      background $palette-0
      color $palette-7