.Home

  .main
    padding 1.5rem
    padding-top 2.25rem
    background $palette-7
    color $palette-2
    @extend .VT323
    font-size $font-large
    max-width calc(512px + 1.5rem * 2)
    margin 0 auto

    p.last-updated
      margin-top 0
      color $palette-6
      margin-bottom 3rem
      display flex
      justify-content space-between

    p.start
      text-align center
      button
        padding 0
        margin-bottom 3rem
        margin-left 0.75rem
        margin-right 0.75rem
        text-decoration underline
        color $palette-0
        &:hover
          background $palette-0
          color $palette-7

    iframe
      padding-top 1.5rem
      max-width 100%

    ul
      padding-left 1.5rem
      list-style square
      li
        padding 0.5rem
        padding-bottom 4.5rem

    img.logo
      width 100%
      image-rendering pixelated
      padding-bottom 0.5rem

    .gifs
      display flex
      justify-content space-evenly
      flex-wrap wrap
      margin-bottom 3rem
      button
        padding 0
        border none
        cursor pointer
      img
        width 128px
        vertical-align bottom

    .gif
      image-rendering pixelated
      &.wide
        width 100%
        padding-top 1.5rem
      &.single
        width 100%
