.Menu
  color $palette-4
  @extend .VT323
  text-transform uppercase
  display flex
  list-style none
  margin 0
  padding 0
  align-items center
  font-size $font-large
  
  li
    padding 0
    
    a
      padding 0 0.45em
      color $palette-5
    
    .active
      color $palette-3
      background $palette-6