.Menu
  margin 0
  padding 0
  list-style none
  background $palette-7
  display flex
  align-items center
  
  &.is-fetching
    button
      color $palette-5

  @media screen and (max-width: 40rem)
    button
      padding 0 0.35rem

  li
    button
      abbr
        display none