@keyframes pulse {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.Menu
  margin 0
  padding 0
  display flex
  white-space nowrap
  justify-content space-between

  button
    line-height 1.5rem
    cursor pointer
    &.button
      padding 0 0.75rem

  & > ul
    display flex

  ul li
    position relative

  ul li:hover > ul
    display block

  ul li ul
    margin-top -2px
    display none
    position absolute
    white-space nowrap
    z-index 1000
    background $palette-7
    border solid $palette-6 2px

  ul li ul li button
    width 100%
    text-align left

  .title
    display none
    &.is-fetching
      display inline-block
      color $palette-0
      animation pulse 0.25s infinite alternate
