.NavBar
  background $palette-7
  color $palette-4
  @extend .VT323
  font-size $font-large
  text-transform uppercase
  margin 0
  padding 0
  list-style none
  display flex
  align-items center
  justify-content flex-end
  
  li
    padding 0
    
    a
      padding 0 0.45em
      color $palette-5
    
    .active
      color $palette-3
      background $palette-6