.Notice
    @extend .VT323
    font-size $font-large
    position fixed
    background rgba(255, 0, 0, 0)
    width 100%
    height 100%
    z-index 1000

    .box
        background $palette-7
        border solid $palette-5 1px
        height calc(100vh - 4.5rem)
        border solid $palette-5 1px
        width calc(100% - 3rem)
        margin 3rem 1.5rem 1.5rem 1.5rem
        padding 1.5rem
        overflow-y scroll

    .title
        margin 0
        padding 0
        text-transform uppercase
        color $palette-2

    p
        color $palette-2

    button
        padding 0
        text-decoration underline
        color $palette-0
        &:hover
            background $palette-0
            color $palette-7

