.Output
  // border solid red 1px
  display flex
  justify-content center
  align-items center
  background $palette-7
//   height 100%
//   position absolute
//   top 0
//   right 0
  
  iframe
    border none

// .Editor .Output
//   width 50%
  
// .Run .Output
//   width 100%