.Output
  display flex
  justify-content space-evenly
  align-items center
  background $palette-7
  position relative
  padding 0 1.5rem
  flex-direction column

  .timeline
    width calc(100% - 3px)
    display block

    button.play
      margin 0
    input
      width 100%

  iframe
    border none
    height 128 * 3px
    width @height

  .stats
    width 100%
    background $palette-6
    color $palette-3
