.Output
  // border solid red 1px
//   height 100%
//   position absolute
//   top 0
//   right 0
//   display flex
//   justify-content center
//   align-items center
  
//   iframe
//     border none

// .Editor .Output
//   width 50%
  
// .Run .Output
//   width 100%