.Phrase

  .main
    grid-template-columns auto 17*1.5rem
    grid-template-rows auto
    grid-row-gap 1.5rem
    grid-column-gap 3rem
    padding 1.5rem
    justify-content start

    @media screen and (max-width: 36rem)
      grid-template-columns auto
      grid-template-rows $font-large auto
      padding 0.35rem
      .settings
        display flex
        .title
          padding-right 1.5rem
          margin-bottom 0
        .TextInput
          margin-bottom 0

    .title
      text-transform uppercase
      color $palette-4
      margin-bottom 1.5rem
      height 1.5rem

    table
      border-collapse collapse
      table-layout fixed
      margin-bottom 1.5rem

      &.notes
        td
          &.match
            button
              color $palette-7
            &.octave-3
              background $palette-0
            &.octave-2
              background $palette-1
            &.octave-1
              background $palette-2
            &.octave-0
              background $palette-3
            &.highlight
              background $palette-7
              button
                color $palette-0

      &.volumes
        td
          &:first-child
            text-align center
          button
            color $palette-7
          &.volume-0
            background $palette-7
            button
              color $palette-6
          &.volume-1
            background $palette-6
          &.volume-2
            background $palette-5
          &.volume-3
            background $palette-4
          &.volume-4
            background $palette-3
          &.volume-5
            background $palette-2
          &.volume-6
            background $palette-1
          &.volume-7
            background $palette-0
          &.highlight
            background $palette-7
            button
              color $palette-0

      td
        text-transform uppercase
        border solid $palette-6 1px
        width 1.5rem
        text-align center
        position relative
        padding 0
        &:not(:first-child)
          &:hover
            border-style double
            border-color $palette-0
        &:first-child
          background none
          color $palette-4
          text-align left
        button
          overflow hidden
          padding 0
          cursor pointer
          @extend .VT323
          font-size $font-large
          border none
          position absolute
          width 100%
          height 100%
          top 0
          left 0
          background none
          &:focus
            z-index 10
