.Phrase
  height 100%
  display grid
  grid-template-columns minmax(auto, 51.5rem) auto
  grid-template-rows $font-large auto
  grid-row-gap 2px
  background $palette-6

  .Menu
    grid-column 1

  .NavBar
    grid-column 2

  .main
    grid-column 1 / span 2
    background $palette-7
    @extend .VT323
    font-size $font-large
    display grid
    grid-template-columns auto 32*1.5rem auto
    grid-template-rows auto
    grid-row-gap 1rem
    grid-column-gap 1rem
    padding 1rem

    .title
      text-transform uppercase
      color $palette-4
      margin-bottom 1.5rem
      height 1.5rem

    button.play
      display block
      width 100%
      border solid $palette-6 1px
      height 1.5rem
      margin-bottom 1.5rem

    table
      border-collapse collapse
      table-layout fixed
      margin-bottom 1.5rem

      &.notes
        td
          &.match
            background $palette-0
            button
              color $palette-7
            &.highlight
              background $palette-7
              button
                color $palette-0

      &.volumes
        td
          button
            color $palette-7
          &.volume-0
            background $palette-7
            button
              color $palette-6
          &.volume-1
            background $palette-6
          &.volume-2
            background $palette-5
          &.volume-3
            background $palette-4
          &.volume-4
            background $palette-3
          &.volume-5
            background $palette-2
          &.volume-6
            background $palette-1
          &.volume-7
            background $palette-0
          &.highlight
            background $palette-7
            button
              color $palette-0

      td
        text-transform uppercase
        border solid $palette-6 1px
        width 1.5rem
        text-align center
        position relative
        &:hover
          border-style double
          border-color $palette-0
        &:first-child
          background none
          color $palette-4
          text-align left
        button
          cursor pointer
          @extend .VT323
          font-size $font-large
          border none
          position absolute
          width 100%
          height 100%
          top 0
          left 0
          background none
          &:focus
            z-index 10

    // justify-content center

    // .controls
    //   grid-column 1 / span 2
    //   button
    //     display block
    //     border solid $palette-6 3px
    //     width 100%

    // ul.highlighter
    //   display flex
    //   li
    //     margin 0
    //     padding 0
    //     width 6.25%
    //     height 3px
    //     &.active
    //       background $palette-6

    // .title
    //   color $palette-6
    //   writing-mode vertical-lr
    //   text-orientation upright
    //   text-transform uppercase
    //   text-align center
    //   justify-self center

    // ul.sfx-buttons
    //   display flex
    //   justify-content space-between

    //   li
    //     button
    //       border solid $palette-6 3px
    //       padding 0 1rem

    // .NotesPad
    //   cursor pointer
    //   display block
    //   width 512px
    //   image-rendering -moz-crisp-edges
    //   image-rendering pixelated
    //   background none

    // .BlocksLabels
    //   color $palette-1
    //   display flex
    //   justify-content space-around
    //   width 100%

    //   li
    //     padding 0
    //     text-align center
    //     width 1.75rem

    //     button
    //       cursor default
    //       outline none
    //       padding 0

