.Run

  .TopBar
    grid-template-columns auto auto

  .Output
    justify-content center
    iframe
      width 384px
      height @width

  .NavBar li button
    padding 0 0.75rem
    span
      display inline
    abbr
      display none

  @media screen and (max-width: 60rem)
    .Title
      text-align left
