.Run
  height 100%
  display grid
  grid-template-rows $font-large auto
  grid-row-gap 2px
  background $palette-6

  .Output
    iframe
      width 100%
      height @width

  @media screen and (max-width: 400px)
    .Title
      text-align left
      right auto
      width 50%
      padding 0 0.5em
