.Sfx
  height 100%
  display grid
  grid-template-columns minmax(auto, 51.5rem) auto
  grid-template-rows $font-large auto
  grid-row-gap 2px
  background $palette-6

  .Menu
    grid-column 1

  .NavBar
    grid-column 2

  .wrapper
    grid-column 1 / span 2
    background $palette-7
    @extend .VT323
    font-size $font-large
    padding 0.5rem
    display grid
    grid-template-columns auto auto
    grid-template-rows auto auto
    grid-row-gap 3rem
    grid-column-gap 1rem
    justify-content center

    .pad-title
      color $palette-6
      writing-mode vertical-lr
      text-orientation upright
      text-transform uppercase
      text-align center
      justify-self center

    .pad-wrapper
      background $palette-7

    .NotesPad
      display block
      width 768px
      image-rendering -moz-crisp-edges
      image-rendering pixelated
      background none

    .NotesInputs
      color $palette-1
      list-style none
      padding 0
      margin 0
      display flex
      width 100%

      li
        padding 0
        width 6.25%
        text-align center

        // border solid $palette-6 3px
        // border-right none
        // &:last-child
          // border-right solid $palette-6 3px

        // &.active
        //   color $palette-0
        //   border-color $palette-1
