.Shelf

  .main
    background $palette-7
    color $palette-2
    @extend .VT323
    font-size $font-large
    color $palette-3

    p
      margin 0

    p.loading
      margin-left 1.5rem
      margin-top 1.5rem
      text-transform uppercase
      font-size $font-xlarge
      color $palette-5

    .title-nav
      margin-left 1.5rem
      margin-top 1.5rem

      span.title
        text-transform uppercase
        font-size $font-xlarge
        margin-right 0.5rem
      span.count
        font-size $font-small
      button
        font-size $font-xlarge        

    ul.cassettes
      list-style none
      padding 0
      margin-left 1.5rem
      margin-top 1.5rem
      margin-bottom 3rem
      display flex
      flex-wrap wrap
      justify-content space-evenly

      li.cassette
        border solid $palette-6 2px
        border-radius 2px
        margin-right 1.5rem
        margin-bottom 1.5rem
        padding 0.5rem
        width calc(192px + 4px + 1rem)
        height calc(311px + 4px + 1rem)
        position relative

        img
          vertical-align bottom
          image-rendering pixelated

        span
          z-index 10
          pointer-events none

        img.cover
          width 192px
          height @width
          margin 0.5em 0 0.125em 0
          display inline-block

        img.background
          width 192px
          height 192px
          padding 35px 0
          margin 0.5em 0 0.125em 0
          display none

        .load
          position absolute
          width 100%
          text-align center
          top 4rem
          left 0
          z-index 0
          color $palette-0
          text-transform uppercase
          font-size $font-medium
          display none

        .title
          text-transform uppercase
          font-size $font-xlarge
          display inline-block
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
          width 100%
          text-align center
          color $palette-2

        .author
          display inline-block
          text-transform uppercase
          font-size $font-small
          color $palette-4
          text-align center
          width 100%

        .date-info
          display flex

        .date, .booted
          display inline-block
          text-transform uppercase
          font-size $font-small
          color $palette-5
          text-align center
          width 100%

        a
          &:hover
            position relative
            display inline-block
            img.background
              display inline-block
            img.cover
              display none
            .load
              display inline-block

        button
          display block
          margin 0.125em auto
          font-size $font-small
          padding 0.25rem
          color $palette-5
          border solid @color 1px
          &:hover
            color $palette-3
            border-color @color
