.Shelf

  .main
    background $palette-7
    color $palette-2
    @extend .VT323
    font-size $font-large
    color $palette-3

    p
      margin 0

    ul
      list-style none
      padding 0
      margin 0
      margin-bottom 1.5rem
      display flex
      flex-wrap wrap

      li
        padding 0
        width 285px
        height 181px
        overflow hidden
        position relative
        margin 1.5rem
        
        img
          vertical-align bottom
          
        span
          z-index 10
          pointer-events none
          
        .title
          position absolute
          top 8.5rem
          left 0.8rem
          padding 0
          margin 0
          text-transform uppercase
          font-size $font-medium
          display inline-block
          width 7.5rem
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
          color $palette-7
        
        .author
          position absolute
          top 8.5rem
          right 0.8rem
          padding 0
          margin 0
          text-transform uppercase
          font-size $font-small
          display inline-block
          width 7.5rem
          white-space nowrap
          overflow hidden
          color $palette-7
          text-align right
          
        a
          width 100%
          height 100%
          &:hover
            span
              color $palette-3
          
        img.background
          position absolute
          width 100%
          z-index 10
          
        img.cover
          position relative
          top calc(15px - 136px/2)
          left 16px
          width 256px
          image-rendering pixelated