.Sprite

  .main
    grid-template-columns auto calc(128 * 3px + 3rem)
    grid-template-rows auto
    grid-row-gap 2px

    .SpriteEditor
      border-right solid $palette-6 2px
      padding 1.5rem

    @media screen and (max-width: $max-width)
      grid-template-columns auto
      .SpriteEditor
        grid-column 1 / span 2
        border-right none
        padding 0.35rem
      .Output
        display none

    .SpriteEditor
      table
        border-collapse collapse
        table-layout fixed

        td
          text-transform uppercase
          text-align center
          position relative
          padding 0
          button
            border none
            width 1.5rem
            height @width
            padding 0
            cursor pointer
            display block
            @extend .VT323
            font-size $font-large
            &.background-
              color $palette-6
              background none

      .sprite-and-colors
        display flex
        justify-content space-between
        margin-bottom 1.5rem
        width calc(128px * 3 + 8px)
        position relative
        @media screen and (max-width: 25rem)
          width auto

        .sprite
            border solid $palette-6 2px
          button
            &:focus
              z-index 10
              position relative

        .colors, .types
          border solid $palette-6 2px
          padding 2px
          button
            width calc(2.25rem)
            height @width
            outline none
          td.active
            outline solid $palette-0 3px
            z-index 1
            button
              border solid $palette-7 3px
          @media screen and (max-width: 25rem)
            button
              width calc((100vw - 196px - 4px - 0.35rem*2 - 3rem)/4)
              height @width
              min-width 1.5rem
              min-height @min-width
              
        .types
          td.active
            outline solid $palette-6 3px
            button
              background $palette-6
              color $palette-7
          button
            color $palette-6
            background $palette-7

        .tools
          
          .add-delete
            margin 1.25rem 0
          
          button
            width calc(2.25rem)
            height @width
            padding 0

      .sprites
        width 100%
        max-width calc(128px * 3 + 8px)
        position relative
        border solid $palette-6 2px
        padding 2px
        @media screen and (max-width: 25rem)
          width calc((1.5rem - 1px)*16 + 8px)
        @media screen and (max-width: 24rem)
          width calc((1.5rem - 2px)*16 + 8px)
        @media screen and (max-width: 23rem)
          width calc((1.5rem - 3px)*16 + 8px)
        @media screen and (max-width: 22rem)
          width calc((1.5rem - 4px)*16 + 8px)
        @media screen and (max-width: 21rem)
          width calc((1.5rem - 5px)*16 + 8px)
        @media screen and (max-width: 20rem)
          width calc((1.5rem - 6px)*16 + 8px)

        table
          position relative
          z-index 1
          border none
          td
            background none
            &.active
              outline solid $palette-7 3px

              button
                outline solid $palette-0 6px
            button
              width calc(128px * 3 / 16)
              height @width
              background none
          @media screen and (max-width: 25rem)
            td
              &.active
                outline solid $palette-0 3px
                button
                  outline none
              button
                width calc(1.5rem - 1px)
                height @width
          @media screen and (max-width: 24rem)
            td button
              width calc(1.5rem - 2px)
              height @width
          @media screen and (max-width: 23rem)
            td button
              width calc(1.5rem - 3px)
              height @width
          @media screen and (max-width: 22rem)
            td button
              width calc(1.5rem - 4px)
              height @width
          @media screen and (max-width: 21rem)
            td button
              width calc(1.5rem - 5px)
              height @width
          @media screen and (max-width: 20rem)
            td button
              width calc(1.5rem - 6px)
              height @width

        canvas
          display block
          // display none
          position absolute
          z-index 0
          top 2px
          left 2px
          width calc(100% - 4px)
          height calc(100% - 4px)
          image-rendering -moz-crisp-edges
          image-rendering pixelated
          @media screen and (max-width: 25rem)
            width calc((1.5rem - 1px) * 16)
            height @width/2
          @media screen and (max-width: 24rem)
            width calc((1.5rem - 2px) * 16)
            height @width/2
          @media screen and (max-width: 23rem)
            width calc((1.5rem - 3px) * 16)
            height @width/2
          @media screen and (max-width: 22rem)
            width calc((1.5rem - 4px) * 16)
            height @width/2
          @media screen and (max-width: 21rem)
            width calc((1.5rem - 5px) * 16)
            height @width/2
          @media screen and (max-width: 20rem)
            width calc((1.5rem - 6px) * 16)
            height @width/2

      .sprite-number
        margin-top 1rem
        color $palette-4      
