.TextInput
  @extend .VT323
  color $palette-0
  margin-bottom 4.5rem

  label
    color $palette-4
    white-space nowrap

  input
    padding 0
    width 3rem
    text-align right
    @extend .VT323
    color $palette-2
    background none
    border solid $palette-6 1px
    font-size $font-large
    outline none
    margin-left 0.5rem
