.Title
  background $palette-7
  color $palette-5
  @extend .VT323
  font-size $font-large
  text-transform uppercase
  text-align right
  padding 0 0.5rem

  &.is-fetching
    color $palette-0
    width 100%
    animation-name pulse
    animation-duration 0.5s
    animation-iteration-count infinite
