@keyframes pulse {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.Title
  display inline-block
  background $palette-7
  color $palette-5
  @extend .VT323
  font-size $font-large
  text-transform uppercase
  text-align right
  padding 0 0.5rem
  white-space nowrap

  &.is-fetching
    color $palette-0
    animation pulse 0.25s infinite alternate
