.TopBar
  background $palette-7
  border-bottom solid $palette-6 2px
  .mid, .small
    display none
  @media screen and (max-width: 43rem)
    button.button
      padding 0 0.5rem
    .full
      display inline-block
  @media screen and (max-width: 39rem)
    button.button
      padding 0 0.25rem
    .full
      display inline-block
  @media screen and (max-width: 35rem)
    button.button
      padding 0 0.25rem
    .full, .small
      display none
    .mid
      display inline-block
  @media screen and (max-width: 28rem)
    button.button
      padding 0 0.2rem
    .full, .mid
      display none
    .small
      display inline-block
