.TopBar
  background $palette-7
  border-bottom solid $palette-6 2px
  .mid, .small
    display none
  @media screen and (max-width: 38rem)
    .full, .small
      display none
    .mid
      display inline-block
  @media screen and (max-width: 29rem)
    .full, .mid
      display none
    .small
      display inline-block
    button.button
      padding 0 0.5rem
  @media screen and (max-width: 22rem)
    button.button
      padding 0 0.25rem
