.Tutorial
  display none
  border-top solid $palette-5 2px
  // background $palette-6
  position absolute
  bottom 0
  left 0
  width 100%
  @extend .VT323
  font-size $font-large
  z-index 10
  color $palette-3
  padding 1.5rem
