.Tutorial
  border-top solid $palette-5 2px
  background $palette-6
  color $palette-3
  @extend .VT323
  font-size $font-large

  position fixed
  bottom 0
  width 100%
  min-height 3rem
  z-index 10
  padding 0.75rem

  .top-bar
    display flex
    justify-content space-between
    p
      margin 0

  button
    text-decoration underline

  .buttons
    button
      padding 0 0.5rem
    &:before
      content '>'
