* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invisible {
  visibility: hidden;
}

div.container {
}

input {
  width: calc(100% - 3px);
  display: block;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vw;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}
