* {
  margin: 0;
  padding: 0;
}

.palette-0-bg { background: #f6d6bd; }
.palette-1-bg { background: #c3a38a; }
.palette-2-bg { background: #997577; }
.palette-3-bg { background: #816271; }
.palette-4-bg { background: #4e495f; }
.palette-5-bg { background: #20394f; }
.palette-6-bg { background: #0f2a3f; }
.palette-7-bg { background: #08141e; }

.palette-0-co { color: #f6d6bd; }
.palette-1-co { color: #c3a38a; }
.palette-2-co { color: #997577; }
.palette-3-co { color: #816271; }
.palette-4-co { color: #4e495f; }
.palette-5-co { color: #20394f; }
.palette-6-co { color: #0f2a3f; }
.palette-7-co { color: #08141e; }

canvas {
  display: block;
  image-rendering: pixelated;
}
