*
  margin 0
  padding 0
  box-sizing border-box

@require '../src/css/utils/fonts.styl'
@require '../src/css/utils/colors.styl'

html
  background $palette-7

body
  position absolute
  width 100%
  height 100%
  display flex
  justify-content center
  align-items center

canvas
  display block
  image-rendering -moz-crisp-edges
  image-rendering pixelated

canvas.master
  width 100vw
  height 100vw

button
  display block

.button
  border none
  color $palette-5
  cursor pointer
  outline none
  padding 0 0.75rem
  margin 0
  @extend .VT323
  text-transform uppercase
  font-size $font-large
  &.active
    color $palette-1
  &:hover
    color $palette-0

button.play
  display block
  border solid $palette-6 1px
  height 1.5rem
  background none
  border none
  padding-left 0
  padding-right 0

input {
  width 100%
  display block
  margin 0.75rem 0
}

ul
  display flex
  list-style none
  min-height 3rem
  
  li
    margin-right 1.5rem
    
    button
      background-color rgba(0, 0, 0, 0)
      border-radius 3px
      border solid $palette-6 1px
      width 3rem
      padding 0.25rem
      height @width
      cursor pointer
      outline none
      canvas
        width 100%
        opacity 0.25
        
      &:hover
        border solid $palette-2 1px
        canvas
          opacity 0.5
        
      &.active
        border solid $palette-0 1px
        canvas
          opacity 1      

.stats
  margin-top 0.75rem
  list-style none
  display flex
  text-transform uppercase
  justify-content space-between

  .fps
    color $palette-6
    font-size $font-large
    @extend .VT323

.hide
  display none

.invisible
  visibility hidden
