// nyx8
$palette-0 = #f6d6bd
$palette-1 = #c3a38a
$palette-2 = #997577
$palette-3 = #816271
$palette-4 = #4e495f
$palette-5 = #20394f
$palette-6 = #0f2a3f
$palette-7 = #08141e

.background-0
  background-color $palette-0
.background-1
  background-color $palette-1
.background-2
  background-color $palette-2
.background-3
  background-color $palette-3
.background-4
  background-color $palette-4
.background-5
  background-color $palette-5
.background-6
  background-color $palette-6
.background-7
  background-color $palette-7

.border-0
  border-color $palette-0
.border-1
  border-color $palette-1
.border-2
  border-color $palette-2
.border-3
  border-color $palette-3
.border-4
  border-color $palette-4
.border-5
  border-color $palette-5
.border-6
  border-color $palette-6
.border-7
  border-color $palette-7
