$font-xlarge = 2rem
$font-large = 1.5rem
$font-small = 1rem

@font-face
  font-family 'VT323'
  font-style normal
  font-weight 400
  src local('VT323 Regular'), local('VT323-Regular'), url(fonts/VT323-latin.woff2) format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215

.VT323
  font-family 'VT323', monospace
