*
  box-sizing border-box
  
$font-large = 1.5rem
$font-small = 1rem

@require 'utils/*.styl'
@require 'components/*.styl'

html
  background $palette-7

body
  margin 0
  padding 0
  overflow hidden

.App
  position absolute
  width 100%
  height 100%
  
a
  text-decoration none