*
  box-sizing border-box

@require '../iframe/src/css/utils/colors.styl'
@require 'slider.css'
@require 'utils/*.styl'

$font-xlarge = 2rem
$font-large = 1.5rem
$font-medium = 1.25rem
$font-small = 1rem
$max-width = 872px

@font-face
  font-family 'VT323'
  font-style normal
  font-weight 400
  src local('VT323 Regular'), local('VT323-Regular'), url(../iframe/src/css/fonts/VT323-latin.woff2) format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215

.VT323
  font-family 'VT323', monospace

@require 'components/*.styl'

html
  background $palette-7

body
  margin 0
  padding 0

.maintenance
  color $palette-0
  background $palette-7
  @extend .VT323
  font-size $font-large
  padding 1.5rem
  a
    text-decoration underline

.App
  position absolute
  width 100%
  min-height 100%
  &.full-height
    height 100%
  display grid
  grid-template-rows 1fr auto
  &.App-BOOT
    user-select none
    background $palette-7
    grid-template-rows auto
    .Output
      display flex
      justify-self center
      align-self center
      max-width 128px*4
      max-height calc(128px*4 + 2.25rem)
    .TopBar
      display none
  &.App-RUN
    user-select none
    background $palette-7
    grid-template-rows $font-large auto
    .Output
      display flex
      max-width 128px*4
      max-height calc(128px*4 + 2.25rem)
      justify-self center
      align-self center
  &.App-CODE
    user-select none
    background $palette-7
    grid-template-rows $font-large auto
    .Output
      display flex
      top calc(3rem + 2px)
      right 1.5rem
      width calc(128px*3)
      height calc(100vh - 4.5rem - 2px)
      @media screen and (max-width: $max-width)
        display none
    .main
      height 100%
  &.App-SPRITE
    user-select none
    background $palette-7
    grid-template-rows $font-large auto
    .Output
      display flex
      top calc(3rem + 2px)
      right 1.5rem
      width calc(128px*3)
      height calc(100vh - 4.5rem - 2px)
      @media screen and (max-width: $max-width)
        display none
    .main
      height 100%
  &.App-MAP
    user-select none
    background $palette-7
    grid-template-rows $font-large auto
    .Output
      display flex
      top calc(3rem + 2px)
      right 1.5rem
      width calc(128px*3)
      height calc(100vh - 4.5rem - 2px)
      @media screen and (max-width: 1279px)
        display none
    .main
      height 100%
  &.App-PHRASE,
  &.App-CHAIN,
  &.App-SONG
    user-select none
    background $palette-7
    grid-template-rows $font-large auto
  &.App-HELP, &.App-HOME
    background $palette-7
    grid-template-rows $font-large auto
  &.App-SHELF
    background $palette-7
    grid-template-rows $font-large auto

.two-rows-and-grid
  .main
    background $palette-7
    @extend .VT323
    font-size $font-large
    display grid

ul
  margin 0
  padding 0
  list-style none

a
  text-decoration none
  &.text
    color $palette-0
    &:hover
      background $palette-0
      color $palette-7

button.play
  display block
  width 100%
  border solid $palette-6 1px
  height 1.5rem
  margin-bottom 1.5rem
  &.active
    cursor pointer

.button
  border none
  color $palette-2
  cursor pointer
  background none
  outline none
  padding 0 0.75rem
  margin 0

  &:disabled
    color $palette-5
    cursor default
    &:hover
      color $palette-5

  @extend .VT323
  text-transform uppercase
  font-size $font-large

  &:hover
    color $palette-0

  &.active
    color $palette-1
    background $palette-6
    cursor default

.ErrorBoundary
  margin 1.5rem
  @extend .VT323
  color $palette-1
  details > summary::-webkit-details-marker
    color $palette-1

span.highlight
  position absolute
  background $palette-5
  width 100%
  display inline-block
  top -0.4rem
  left 0
  height -(@top + 0.1rem)

.hide
  display none

.invisible
  visibility hidden

.overflow-hidden
  overflow hidden
