*
  box-sizing border-box

$font-large = 1.5rem
$font-small = 1rem

@require 'utils/*.styl'
@require 'components/*.styl'

html
  background $palette-7

body
  margin 0
  padding 0

.App
  position absolute
  width 100%
  min-height 100%
  user-select none
  &.full-height
    height 100%

ul
  margin 0
  padding 0
  list-style none

a
  text-decoration none

.button
  border none
  color $palette-2
  cursor pointer
  background none
  outline none

  padding 0 0.75rem
  margin 0

  @extend .VT323
  text-transform uppercase
  font-size $font-large

  &:hover
    color $palette-0

  &.active
    color $palette-1
    background $palette-6
    cursor default

.two-rows
  height 100%
  display grid
  grid-template-rows $font-large auto
  grid-row-gap 2px
  background $palette-6

  &-and-grid
    .main
      background $palette-7
      @extend .VT323
      font-size $font-large
      display grid

.ErrorBoundary
  margin 1.5rem
  @extend .VT323
  color $palette-1
  details > summary::-webkit-details-marker
    color $palette-1

span.highlight
  position absolute
  background $palette-5
  width 100%
  display inline-block
  top -0.4rem
  left 0
  height -(@top + 0.1rem)

.hide
  display none
